<?xml version='1.0' encoding='utf-8'?>
<widget id="com.polychrom.cordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AndroidAccountManagerExample</name>
    <description>
        A basic Android Account Manager plugin example.
    </description>
    <author href="https://github.com/polychrom/cordova-android-accountmanager">
        Polychrom Pty Ltd
    </author>
    <platform name="android">
	<hook type="before_prepare" src="hooks/install_plugins.js" />
    </platform>
    <content src="index.html" />
    <access origin="*" />
</widget>
